<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />



    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />






    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoDes_Mobile"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">




    <activity
            android:name=".fragment_alerts"
            android:exported="false" />
        <activity
            android:name=".button_code"
            android:exported="false" />
        <activity
            android:name=".main_app.map_home"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".useraccess.forgotPassword.forgot_password"
            android:exported="false" />

        <activity
            android:name=".useraccess.forgotPassword.forgot_password_changePass"
            android:exported="false" />

        <activity
            android:name=".useraccess.forgotPassword.forgot_password_enterPin"
            android:exported="false" />

        <activity
            android:name=".useraccess.signupActivity"
            android:exported="false" />
        <activity
            android:name=".useraccess.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".useraccess.useraccessActivity"
            android:exported="false" />
        <activity
            android:name=".main_app.MainActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-PwG-IjCROFu9xXBRizCuyz8L83V8Guc" />

        <receiver
            android:name=".main_app.create_geofence_functions.GeofenceBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.geodes_mobile.main_app.create_geofence_functions.ACTION_GEOFENCE_TRANSITION"/>
            </intent-filter>
        </receiver>


        <receiver
            android:name=".main_app.create_geofence_functions.DismissReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.geodes_mobile.ACTION_DISMISS_ALARM"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".main_app.create_geofence_functions.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>










    </application>


</manifest>

